<footer class="page-footer blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Erasmus+</h5>
                <p class="grey-text text-lighten-4">Conoce los objetivos, actividades y productos de
                    nuestro proyecto ERASMUS+: PUNTO DE ENCUENTRO: LEONARDO DA VINCI. Los colegios colaboradores: IES
                    Carlo María Carafa, S. Sint Ursula (Italia) e IES La Rábida (Huelva) han identificado la necesidad
                    de concienciar sobre el Patrimonio Cultural y Natural local y los referentes culturales europeos, en
                    concreto, Leonardo Da Vinci.
                </p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Enlaces de Interes</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 links" routerLink="/blog_rabida">Blog IES La Rabida</a></li>
                    <li><a class="grey-text text-lighten-3 links" routerLink="/blog_carlomaria">Blog IISS Carlo Maria Carafa</a></li>
                    <li><a class="grey-text text-lighten-3 links" routerLink="/informacion_rabida">Información Rabida</a></li>
                    <li><a class="grey-text text-lighten-3 links" routerLink="/informacion_carlomaria">Información Carlo Maria Carafa</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Redes Sociales</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 links" href="#!">Facebook IES La Rabida</a></li>
                    <li><a class="grey-text text-lighten-3 links" href="#!">Facebook Carlo Maria</a></li>
                    <li><a class="grey-text text-lighten-3 links" href="#!">Instagram IES La Rabida</a></li>
                    <li><a class="grey-text text-lighten-3 links" href="#!">Instagram Carlo Maria</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            ©2022 Erasmus+ Meeting Point: Leonardo Da Vinci | <a target="_blank" id="link" href="https://snchezz.github.io/LinktreeSnchezz/links">Andrés Sánchez Productions</a> 
            <!--
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            -->
        </div>
    </div>
</footer>