<body>


    <app-nav></app-nav>
 
    <div class="padding"></div>

    <h3 class="center">Contacta con nosotros</h3>

    <div class="row">
        <form class="offset-l3 col l6 s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Apellido</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Mensaje</label>
            </div>
            <div>
                <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div class="padding"></div>



    <app-footer></app-footer>



</body>