<!--Texto de presentación-->




<body>



    <!--Nav Home-->
    <div class="row">
        <div class="col s12 center">
            <h3 class="center">
                Bienvenido al Erasmus+ entre el IES La Rabida (Huelva) y el IISS Carlo Mª Carofa (Italia)
            </h3>
            <br>
        </div>
        <div class="col l4 m6 s12 center">
            <img routerLink="/informacion_rabida" class="imagenes responsive-img" src="./assets/RabidaInfo1.png"
                alt="Imagen Rabida Informacion"><br>
            <a class="enlace" routerLink="/informacion_rabida">Informacion Rabida</a>
        </div>
        <div class="col l4 m6 s12 center">
            <img routerLink="/informacion_carlomaria" class="imagenes responsive-img" src="./assets/CarloMariaInfo.png"
                alt="Imagen Carlo Mª Informacion"><br>
            <a class="enlace" routerLink="/informacion_carlomaria">Informacion Carlo Maria</a>
        </div>
        <div class="col l4 m6 s12 center">
            <img routerLink="/blog_rabida" class="imagenes responsive-img" src="./assets/BlogRabida.png" alt="Imagen Rabida Blog"><br>
            <a class="enlace" routerLink="/blog_rabida"> Blog Rabida</a>
        </div>
    </div>
    <div class="row">
        <div class="col l4 m6 s12 center">
            <img routerLink="/blog_carlomaria" class="imagenes responsive-img" src="./assets/CarloMariaBlog.png"
                alt="Imagen Carlo Mª Blog"><br>
            <a class="enlace" routerLink="/blog_carlomaria">Blog Carlo Maria</a>
        </div>
        <div class="col l4 m6 s12 center">
            <img routerLink="/contacto" class="imagenes responsive-img" src="./assets/Contacto.png" alt="Imagen Contacto"><br>
            <a class="enlace" routerLink="/contacto">Contacto</a>
        </div>
        <div class="col l4 m6 s12 center">
            <img routerLink="/login" class="imagenes responsive-img" src="./assets/Login.png" alt="Imagen Login"><br>
            <a class="enlace" routerLink="/login">Login</a>
        </div>
    </div>
    <br><br><br>
    <!--Imagenes y presentacion-->
    <div class="row">
        <div class="offset-l1 col l5">
            <p id="presentacion">¡Bienvenido a nuestra página web! Pretende dar a conocer los objetivos, actividades y
                productos de nuestro
                proyecto ERASMUS+: PUNTO DE ENCUENTRO: LEONARDO DA VINCI.

                Los colegios colaboradores: IES Carlo María Carafa, S. Sint Ursula (Italia) e IES La Rábida (Huelva) han
                identificado la
                necesidad de concienciar sobre el Patrimonio Cultural y Natural local y los referentes culturales
                europeos,
                en concreto, Leonardo Da Vinci, en el 500 aniversario de su muerte.

                Esperamos que nuestro proyecto y esta web te ayuden a conocernos mejor a nosotros y a nuestro Patrimonio
                Cultural y Natural, a reconocer la influencia de la obra de Da Vinci en nuestra sociedad y a encontrar
                inspiración para seguir aprendiendo y creciendo como ciudadano europeo.</p>
        </div>
        <div class="offset-l1 col l4 center">
            <br><br>
            <img class="responsive-img center" id="erasmus" src="./assets/logo-erasmus-plus.png" alt="">
            <br><br><br>
            <img class="responsive-img center" id="meeting" src="./assets/meeting-point.png" alt="">
        </div>
    </div>

    <app-footer></app-footer>

</body>