
<body>    
    <app-nav></app-nav>

    <div class="row">
        <h3 class="center">Tutorial Imgur</h3>
    </div>

    <ul class="collapsible">
        <li>
          <div class="collapsible-header">Que es Imgur?</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header">Como se usa Imgur para subir las imagenes al blog</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header">Subida de imagen</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Subida de imagen</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul> 

    <app-footer></app-footer>
</body>


