<body>


    <app-nav></app-nav>
    <br><br><br>
    <div class="padding"></div>

    <h3 class="center">Inicia Sesión!</h3>
    <div class="row">
        <form class="offset-l4 col l6 s6">
            <div class="input-field col s8">
                <i class="material-icons prefix">person</i>
                <input id="usu" type="text" class="validate">
                <label for="usu">Usuario</label>
            </div>
            <div class="input-field col s8">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            
        </form>
        
    </div>

    <div class="row">
        <div class="offset-l4 col l6 s6">
            <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
            <a id="web" routerLink="/reset_login">¿No recuerdas tus datos?</a>
        </div>
        
    </div>

    
    <div class="padding"></div>

    <app-footer></app-footer>
</body>